@font-face {
    font-family: 'SF Pro Display';
    src: url("./fonts/SF-Pro-Display-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/SF-Pro-Display-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/SF-Pro-Display-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/SF-Pro-Display-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/SF-Pro-Display-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/SF-Pro-Display-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    color: #333;
}

header {
    background: #343a40;
    color: white;
    padding: calc(var(--tg-safe-area-inset-top, 0px) + 2rem) 1rem 1rem;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: calc(var(--tg-content-safe-area-inset-top, 0px) + 2rem) auto 2rem;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.button-group {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}

.button-group button {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: #007bff;
    color: white;
}

.button-group button:hover {
    background: #0056b3;
}

.hidden {
    display: none;
}

.video-section {
    display: none;
}

.main-video-container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.main-video {
    flex: 1;
    min-width: 10rem;
    max-width: 15rem;
}

.action-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex: 1;
    min-width: 10rem;
}

.important-text {
    font-size: 0.9rem;
    font-weight: bold;
    color: #dc3545;
    margin: 0;
}

.action-button-download {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    text-decoration: none;
    background: #28a745; /* Зеленый */
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.action-button-download:hover {
    background: #218838;
}

.action-button-connect {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    text-decoration: none;
    background: #007bff; /* Синий */
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.action-button-connect:hover {
    background: #0056b3;
}


.toggle-other-videos {
    display: block;
    margin: 1rem 0;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: #6c757d;
    color: white;
    width: fit-content;
}

.toggle-other-videos:hover {
    background: #5a6268;
}

.other-videos {
    display: none;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}

.video {
    width: 10rem;
}

@media (max-width: 600px) {
    .action-container {
        width: 100%;
    }

    .action-button {
        width: fit-content;
    }
}

.custom-video-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.custom-controls {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    z-index: 2;
}

.custom-controls button {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    width: 2.5rem;
    height: 2rem;
    /*padding: 0.3rem 0.6rem;*/
    border-radius: 0.3rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.custom-controls button:hover {
    background: rgba(0, 0, 0, 0.8);
}

video {
    width: 100%;
    border-radius: 1rem;
    display: block;
}
